.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: -100px;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.navigation_active {
    opacity: 1;
    visibility: visible;
    right: 0;
}

.navigation__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100px;
    background-color: #202020;
    width: 100%;
    max-width: 520px;
    height: 100%;
    transition: right 0.3s linear;
}

.navigation_active > .navigation__container {
    right: 0;
}

.navigation__nav {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin: 159px auto;
}

.navigation__link {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navigation__link_active {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.navigation__profile {
    margin: auto auto 90px;
    border-radius: 20px;
    background: #313131;
    padding: 8px 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navigation__close {
    position: absolute;
    top: 22px;
    right: 22px;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    width: 22px;
    height: 22px;
    background-image: url('../../images/close-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navigation__close:hover {
    opacity: 0.8;
}

.navigation__link:hover,
.navigation__profile:hover {
    opacity: 0.7;
}